@fa-font-path:   "fonts/font-awesome-4.7.0/font";
@ai-font-path:   "fonts/academicons-1.7.0/font";

body {
    padding-top: 15px;
    font-family: 'Noto Sans Japanese', sans-serif;
}

footer > p:after {
    content: "Mon Jan 30 22:47:34 JST 2017";
}

p.lead, .slide, footer {
    font-size: 14px;
    font-weight: 200;
    text-align: center;
}

.sub-container {
    margin-bottom: 50px;
}

h1 {
    text-align: center;
    font-size: 18px;
    font-weight: 200;
}

.custom-template {
    padding: 50px 15px;
}

*[id]:before { 
    display: block; 
    content: " "; 
    margin-top: -90px; 
    height: 90px; 
    visibility: hidden; 
}

.ol-custom {
    padding: 0 0 0 2em;
    font-size: 14px;
    font-weight: 200;
}


hr {
    width: 90px;
    height: 1px;
    border-color: #eee;
    margin-top:10px;
    margin-bottom:7px;
}


@media (min-width: 768px) and (max-width: 991px) {
    .scrollit {
        float: right;
        width: 535px;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .scrollit {
        float: right;
        width: 755px;
    }
}
@media (min-width: 1200px) {
    .scrollit {
        float: right;
        width: 955px;
    }
}


@media (min-width:768px)
{
    h1 {
        font-size: 18px;
    }
    .custom-template {
        padding: 30px 15px;
    }
    .container {
        max-width: 100%;
    }
    *[id]:before { 
        margin-top: -65px; 
        height: 65px; 
    }
    .fixed {
        position: fixed;
        width: 185px;
    }
    .navbar-brand {
        text-align: center;
        width: 185px;
    }
    #navbar > ul > li {
        text-align: center;
        width: 65px;
    }
}

p.lead img {
    width: 150px;
    align: middle;
    margin-bottom: 20px;
}

a:link,
a:visited,
.navbar-default .navbar-nav > li > a:link,
.navbar-default .navbar-nav > li > a:visited {
    color: #777;
}
a:hover,
a:active,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: black;
}

a:link > .social-icon,
a:visited > .social-icon {
    color: #ccc;
}
a:hover > .social-icon,
a:active > .social-icon {
    color: black;
}

.navbar-default {
    background-color: white;
    border-color: white;
    font-size: 14px;
    font-weight: 200;
}

.navbar-default .navbar-brand {
    font-size: 18px;
    font-weight: 200;
}

.navbar-default .navbar-brand:link,
.navbar-default .navbar-brand:visited {
    color: #777;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: black;
}

#navbar > ul > li > a:active, #navbar > ul > li > a:hover {
    border-bottom: solid 1px #eee;
}
@media (max-width:767px) 
{
    .nav li {
        display: inline-block;
    }
    #navbar {
        text-align: center;
    }
    .navbar-brand {
        line-height: 20px;
        height: 20px;
        width: 100%;
        left: 0;
        top: 0;
        text-align:center;
        margin: auto;
    }
}
