body {
    -webkit-text-size-adjust: 100%;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #555;
}
.sub-container {
    padding: 0 0 50px 0;
}
.submitted {
    color: #999;
    padding: 0 0 50px 0;
}
a:link, a:visited {
    color: #999;
    text-decoration: none;
}
a:hover, a:active {
    color: #555;
}
#wave {
    height: 20px;
    width: 100%;
    background-image: url("../image/wave.png");
    background-size: cover;
    background-position: left;
    opacity: 0.1;
}
/* ----- below: variable for media widths */
.container {
    padding: 0 20px 20px 20px;
    margin: 0 auto 0 auto;
    font-size: 14px;
}
h1 {
    font-size: 28px;
    font-weight: 300;
}
#nav {
    text-align: left;
    padding: 0 0 20px 3px;
}
@media (min-width: 380px) {
    #nav {
        text-align: right;
        margin: -3.3em 0 0 0;
    }
}
@media (min-width: 580px) {
    .container {
        width: 525px;  /* min-width - 55px */
        font-size: 20px;
    }
    h1 {
        font-size: 36px;
    }
}
@media (min-width: 780px) {
    .container {
        width: 725px;
        padding: 30px 20px 20px 20px;
    }
    #nav {
        text-align: right;
        margin: -3.1em 0 0 0;
    }
}
