body {
    padding-top: 15px;
    font-family: 'Noto Sans Japanese', sans-serif;
    font-weight: 200;
}

h1 {
    text-align: center;
    color: #b58900;
    font-weight: 300;
    font-size: 24px;
}

.custom-template {
    padding: 40px 15px;
    font-weight: 200;
}

.container {
    font-weight: 200;
}
@media (min-width:768px)
{
   .container {
       max-width: 730px;
    }
}

*[id]:before { 
    display: block; 
    content: " "; 
    margin-top: -75px; 
    height: 75px; 
    visibility: hidden; 
}

.ol-custom {
    font-size: 14px;
    padding: 0 0 0 1.5em;
    font-weight: 200;
}
@media (min-width:768px)
{
    .ol-custom {
        font-size: 16px
    }
}

p.lead {
    font-size: 14px;
    text-align: center;
    font-weight: 200;
}
@media (min-width:768px)
{
    p.lead {
        font-size:16px
    }
}

article {
    font-size: 14px;
    text-align: center;
    font-weight: 200;
}
@media (min-width:768px)
{
    article {
        font-size:16px
    }
}

* b {
    font-weight: 300;
}

footer {
    text-align: center;
    font-size: 14px;
}

a:link { color: #b58900; }
a:visited { color: #b58900; }
a:hover { color: #268bd2; }
a:active { color: #268bd2; }

<!-- navbar custom -->
.nav-justified {
    display: table;
    table-layout: fixed;
    width: 100%;
}
.navbar .nav-justified > li {
    display: table-cell;
    width: 100%;
}

.navbar-default {
  background-color: #b58900;
  border-color: #eee8d5;
}
.navbar-default .navbar-brand {
  color: #fdf6e3;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #eee8d5;
}
.navbar-default .navbar-text {
  color: #fdf6e3;
}
.navbar-default .navbar-nav > li > a {
  color: #fdf6e3;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #eee8d5;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #b58900;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #fdf6e3;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #b58900;
  background-color: #eee8d5;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #eee8d5;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #b58900;
  background-color: #eee8d5;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #b58900;
  background-color: #eee8d5;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #b58900;
  background-color: #eee8d5;
}
.navbar-default .navbar-toggle {
  border-color: #eee8d5;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #eee8d5;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #fdf6e3;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #fdf6e3;
}
.navbar-default .navbar-link {
  color: #fdf6e3;
}
.navbar-default .navbar-link:hover {
  color: #b58900;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #fdf6e3;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #b58900;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #b58900;
    background-color: #eee8d5;
  }
}
