/* https://qiita.com/dangoya/items/2411c38a14bc84294f79 */
.accordion-box {
    position: relative;
}
.accordion-box label {
    height: 5em;
    cursor: pointer;
    text-align: left;
    position: absolute;
    bottom: 0;
    width: 100%;
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.95) 90%);
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.95) 90%);
    background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.95) 90%);
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.95) 90%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1.0) 90%);
}
.accordion-box input:checked + label {
    background: inherit;
}
.accordion-box label:after {
    content: "\f103";
    font-family: FontAwesome;
    position: absolute;
    bottom: 0;
    padding-left: 0.3em;
    color: #999;
}
.accordion-box label:hover:after {
    color: #555;
}
.accordion-box input {
    display: none;
}
.accordion-box .accordion-container {
    padding: 0 0.5em 0 1.3em;
    overflow: hidden;
    height: 5em;
}
.accordion-box input:checked + label:after {
    content: "\f102";
    padding-bottom: 0.3em;
}
.accordion-box input:checked ~ .accordion-container {
    height: auto;
    padding-bottom: 0.2em;
}
