:root {
    --black: #000000;
}
body {
    margin: 0 0 0 0;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 0.9rem;
    -webkit-text-size-adjust: 100%;
    color: var(--black);
}
a:link, a:visited {
    color: var(--black);
}
p {
    padding: 0 0 0 2rem;
    text-indent: -2rem;
}
.far, .fas, .fab, .ai {
    padding: 0 0 0 0;
    text-indent: 0;
}
.contact {
    padding: 0 0 0 2rem;
}
.pubinfo {
    margin: 0 0 3rem 0;
    padding: 0 0 0 2rem;
}
.container {
    width: 100%;
}
.sub-container {
    padding: 2rem 2rem 0 2rem;
}
@media (min-width: 576px) {
    .container {
        max-width: 576px;
        margin: 0 auto 0 auto;
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}
@media (min-width: 992px) and (min-height: 256px) {
    .container {
        max-width: 960px;
    }
    .contact {
        padding: 0 0 0 5.8rem;
    }
    #nav {
        width: 13.5rem;
        top: 0;
        float: left;
        position: -webkit-sticky;
        position: sticky;
    }
    #pub {
        width: auto;
        overflow: hidden;
    }
}
@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}
.box label {
    display: inline;
    text-decoration: underline;
    cursor: pointer;
} 
.box input[type="checkbox"].on-off,
.box input[type="checkbox"].on-off +div{
    display: none;
}
.box input[type="checkbox"].on-off:checked +div{
    display: block;
    margin: -0.9rem 0 0 1.5rem;
}
