:root {
    --black: #000000;
}
body {
    margin: 0 0 0 0;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 0.95rem;
    -webkit-text-size-adjust: 100%;
    color: var(--black);
}
p {
    padding: 0 0 0 1.5rem;
    text-indent: -1.5rem;
}
a:link, a:visited {
    color: var(--black);
}
.far, .fas, .fab, .ai {
    padding: 0 0 0 0;
    text-indent: 0;
}
.container {
    width: 100%;
}
.name {
    padding: 1.5rem 1.5rem 0 1.5rem;
}
.nav {
    padding: 0 1.5rem 0 1.5rem;
}
.pub {
    padding: 1.5rem 1.5rem 1.5rem 1.5rem;
}
.pubinfo {
    padding: 0 0 0 1.5rem;
}
.pubinfo::after {
    content: "\A";
    white-space: pre;
}
.cover-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}
.cover {
    width: auto;
    text-align: center;
}
@media (min-width: 576px) {
    .container {
        max-width: 576px;
        margin: 0 auto 0 auto;
    }
    .cover {
        display: grid;
        grid-gap: 0.9rem;
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}
@media (min-width: 992px) and (min-height: 350px) {
    .container {
        max-width: 960px;
    }
    .name {
        width: auto;
        float: left;
        top: 0;
        position: -webkit-sticky;
        position: sticky;
        padding: 1.5rem 1.5rem 0 1.5rem;
    }
    .pub {
        width: auto;
        overflow: hidden;
    }
}
@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}
