:root {
    --black: #000;
    --gray:  #999;
}
body {
    margin: 0 0 0 0;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 0.85rem;
    font-weight: 400;
    -webkit-text-size-adjust: 100%;
    color: var(--black);
}
a:link, a:visited {
    color: var(--black);
}
p {
    padding: 0 0 0 2rem;
    text-indent: -2rem;
}
.pubinfo {
    padding: 0 0 3rem 0;
}
.cover {
    width: 100%;
    min-height: calc(100vh - 0rem);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background: linear-gradient(to bottom,rgba(255,255,255,1),rgba(255,255,255,1) 96%,rgba(255,255,255,0)); 
    position: relative;
    z-index: 1;
    transform: translate3d(0,0,1);
    -webkit-transform: translate3d(0,0,1);
}
.cover a, h1 a {
    text-decoration: none;
}
.cover a:hover, h1 a:hover {
    text-decoration: underline;
}
.cover-contents {
    padding: 0 1rem 6rem 1rem;
}
.cover p {
    margin: 1.2rem 0 0 0;
}
.cover h1 {
    display: inline;
}
.container {
    width: 100%;
    z-index: 0;
    transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
}
.sub-container {
    padding: 1rem 1.5rem 3rem 1.5rem;
}
.sticky-nav {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 2rem;
}
.nav {
    visibility: hidden;
    margin: -12rem 0 0 0;
}
.nav a {
    color: var(--gray);
}
.nav a:hover {
    color: var(--black);
}
.material-icons {
    padding: 0.2rem 0 0 0;
}
h1 {
    font-size: 1.105rem;
    font-weight: 400;
}
small {
    font-size: 0.595rem;
}
.footer {
    padding: 0.3rem 0 0 0;
    width: 100%;
    min-height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer p {
    display: inline;
    margin: 0 5vw 0 5vw;
}
.footer a {
    color: var(--gray);
}
.footer .material-icons {
    font-size: 1.105rem;
}
.footer a:hover {
    color: var(--black);
}
@media (min-width: 576px) {
    .container {
        max-width: 576px;
        margin: 0 auto 0 auto;
    }
    .cover p {
        display: inline;
    }
    .cover-contents {
        padding: 0 2rem 0 0;
    }
    .pubinfo {
        padding: 0 0 4rem 0;
    }
}
@media (min-width: 768px) {
    body {
        font-size: 1rem;
    }
    h1 {
        font-size: 1.3rem;
    }
    small {
        font-size: 0.7rem;
    }
    .container {
        max-width: 720px;
    }
    .sub-container {
        padding: 1rem 1rem 3rem 2.5rem;
        display: grid;
        grid-template-columns: 0.3fr 1fr;
    }
    .sub-left {
        text-align: right;
        grid-column: 1 / 2;
    }
    .sub-right {
        padding: 0.4rem 0 0.4rem 5rem;
        grid-column: 2 / 3;
    }
    .nav {
        visibility: visible;
    }
    .footer {
        display: none;
    }
}
@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
    .sub-container {
        grid-template-columns: 0.2fr 1fr;
    }
}
@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}
