:root {
  --black: #000000;
  --gray: #555555;
  --gray-link: #777777;
  --gray-link-border: #eeeeee;
}

body {
  margin: 0 0 0 0;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  -webkit-text-size-adjust: 100%;
  color: var(--black);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  line-height: 1.2rem;
}

a:link, a:visited {
  text-decoration: none;
  color: var(--black);
  padding-bottom: 1px;
}

a:hover, a:active {
  color: var(--gray-link);
}

small {
  font-size: 0.6rem;
}

p {
  text-align: justify;
}

.container {
  position: relative;
  max-width: 1080px;
  height: 100%;
  margin: 0 auto 0 auto;
  box-sizing: border-box;
}

.sub-container-child-left {
  padding: 4.5rem 1.5rem 3rem 1.5rem;
}

.sub-container-child-left-nav-grid-outer,
.sub-container-child-left-nav-grid-research,
.sub-container-child-left-nav-grid-pubs,
.sub-container-child-left-nav-grid-contact {
  display: inline-block;
  letter-spacing: 2px;
  line-height: 2rem;
  font-size: 0.6rem;
}

.sub-container-child-left-nav-grid-outer {
  #margin-bottom: 0.5rem;
  #padding-bottom: 1rem;
  width: calc(100vw - 7rem);
}

.sub-container-child-left-nav-grid-pubs {
  margin: 0 0.5rem 0 0.5rem;
}

.sub-container-child-left-nav-grid-name {
  font-size: 1.2rem;
  letter-spacing: 5px;
  margin: 0 0 0.75rem 0;
}

.short-bio, .research-title {
  letter-spacing: 2px;
}

.sub-container-child-left-research-grid-eq {
  margin: 0 0 3rem 0;
}

.title {
  letter-spacing: 5px;
  line-height: 2rem;
  margin-top: 5rem;
  margin-bottom: 1rem;
  display: inline-block;
}

#pub-list {
  margin-top: 1rem;
}

ul {
  list-style: none;
  padding-left: 0;
  font-size: 0.6rem;
}

.pub-title {
  font-size: 0.75rem;
}

.citation-indexes {
  margin: 0 0 0 1rem;
  display: inline-block;
}

.public-media {
  display: inline-block;
  margin: 0.5rem 0 0 0;
  padding: 0.1rem 0 0 0;
}

li {
  margin: 3rem 0 0rem 0;
}

li>div {
  margin-bottom: 0.2rem;
}

li>.year {
  display: none;
}

.search:focus, .sort:focus {
  outline: none;
}

.search-result {
  margin: 0 0 0 1rem;
  font-size: 0.6rem;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 0.6rem;
}

input {
  border-radius: 25px;
  padding: 5px 15px 5px 15px;
  background-color: transparent;
  border: solid 1px rgba(0, 0, 0, 0.2);
  width: 150px;
  box-sizing: border-box;
  color: #2e2e2e;
  margin-bottom: 5px;
  text-transform: none;
  text-shadow: none;
  -webkit-appearance: none;
}

button {
  appearance: auto;
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: -internal-light-dark(black, white);
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  cursor: pointer;
  background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
  box-sizing: border-box;
  margin: 0em;
  padding: 1px 6px;
  border-width: 2px;
  border-style: outset;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  border-image: initial;
}

.sort {
  padding: 5px 10px 6px 10px;
  border-radius: 10px;
  border: none;
  display: inline-block;
  color: #2e2e2e;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.05);
  margin: 2px 0;
}

.sort:hover {
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.1);
}

.sort.asc:after {
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #2e2e2e;
  content: "";
  position: relative;
  top: 11px;
  right: -4px;
}

.sort.desc:after {
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid #2e2e2e;
  content: "";
  position: relative;
  top: -9px;
  right: -4px;
}

#hits, #total-count {
  color: rgba(0, 0, 0, 0.5);
  letter-spacing: 0px;
}

.contact-area-left {
  margin-bottom: 5rem;
}

@media screen and (min-width: 600px) {
  .sub-container-child-left-nav-grid-outer {
    width: auto;
    display: grid;
    grid-template-columns: 1fr auto auto auto;
    margin-bottom: 1rem;
  }

  .sub-container-child-left-nav-grid-name {
    grid-column: 1 / 2;
    margin: 0;
  }

  .sub-container-child-left-nav-grid-research {
    grid-column: 2 / 3;
    font-size: 0.75rem;
  }

  .sub-container-child-left-nav-grid-pubs {
    grid-column: 3 / 4;
    margin: 0 1rem 0 1rem;
    font-size: 0.75rem;
  }

  .sub-container-child-left-nav-grid-contact {
    grid-column: 4 / 5;
    font-size: 0.75rem;
  }

  .sub-container-child-left-nav-grid-outer,
  .sub-container-child-left-nav-grid-research,
  .sub-container-child-left-nav-grid-pubs,
  .sub-container-child-left-nav-grid-contact {
    letter-spacing: 4px;
  }
}

@media screen and (min-width: 1024px) {
  .sub-container-child-left-research-grid-outer {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
  }

  .sub-container-child-left-research-grid-eq {
    grid-column: 1 / 2;
    margin: 0 1rem 0 0;
  }

  .sub-container-child-left-research-grid-noneq {
    grid-column: 2 / 3;
    margin: 0 0 0 1rem;
  }

  .title {
    margin-top: 6rem;
  }
}
