:root {
  --black: #000000;
  --gray: #555555;
  --gray-link: #777777;
  --gray-link-border: #eeeeee;
}

body {
  margin: 0 0 0 0;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  -webkit-text-size-adjust: 100%;
  color: var(--black);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  line-height: 1.2rem;
}

h1 {
  display: inline;
  font-weight: 300;
  font-size: 1.5rem;
}

a:link, a:visited {
  text-decoration: none;
  color: var(--black);
  border-bottom: 1px solid var(--gray-link-border);
  padding-bottom: 1px;
}

.link-icon a,
.sub-container-child-right a {
  color: var(--gray);
}

a:hover, a:active {
  color: var(--gray-link);
  border-bottom: 1px solid var(--gray-link-border);
}

small {
  font-size: 0.6rem;
}

b {
  font-weight: 500;
}

.container {
  position: relative;
  max-width: 1750px;
  height: 100%;
  margin: 0 auto 0 auto;
  box-sizing: border-box;
}

.sub-container-child-left {
  padding: 2rem 2rem 5rem 2rem;
}

.sub-container-child-left-nav-grid-outer,
.sub-container-child-left-nav-grid-research,
.sub-container-child-left-nav-grid-pubs,
.sub-container-child-left-nav-grid-contact {
  display: inline-block;
  letter-spacing: 2px;
  line-height: 2rem;
}

.sub-container-child-left-nav-grid-outer {
  margin-bottom: 1rem;
}

.sub-container-child-left-nav-grid-outer a,
.sub-container-child-right a,
.sub-container-icon-only-mobile a,
.link-icon a {
  border-bottom: none;
}

.sub-container-child-left-nav-grid-pubs {
  margin: 0 0.2rem 0 0.2rem;
}

.sub-container-child-left-nav-grid-name {
  font-size: 1.2rem;
  font-weight: 300;
  letter-spacing: 5px;
  margin: 0 0 1rem 0;
}

.short-bio {
  letter-spacing: 2px;
}

.sub-container-child-left-research-grid-eq {
  margin: 0 0 3rem 0;
}

img.research-fig {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.research-fig-caption {
  text-align: center;
  font-size: 0.55rem;
}

.sub-container-child-right {
  text-align: center;
}

.sub-container-icon-only-mobile {
  position: absolute;
  top: 0;
  left: calc(100vw - 5rem);
  height: 15rem;
  padding: 0 0 0 0;
  width: 5rem;
  display: inline;
  text-align: center;
}

.sub-container-icon-only-mobile .logo-itf {
  width: 100%;
}

.sub-container-icon-only-mobile .logo-tsk,
.sub-container-icon-only-mobile .logo-msc {
  width: 4rem;
  margin: 0.5rem auto 0 auto;
}

.icon-hidden {
  display: none;
}

.sign {
  font-family: 'Caveat', sans-serif;
  color: var(--gray-link);
  margin: 0.5rem 0 3rem 0;
}

.email {
  font-family: 'Source Code Pro', sans-serif;
  letter-spacing: 1px;
}

.title {
  letter-spacing: 2px;
  line-height: 2rem;
  margin-top: 5rem;
  margin-bottom: 1rem;
  display: inline-block;
}

.sub-container-child-left-nav-grid-research, #research {
  border-bottom: 2px solid #ccebc5;
}

.sub-container-child-left-nav-grid-pubs, #pubs {
  border-bottom: 2px solid #b3cde3;
}

.sub-container-child-left-nav-grid-contact, #contact {
  border-bottom: 2px solid #fbb4ae;
}

.logo-itf {
  width: 10rem;
}

.logo-tsk, .logo-msc {
  width: 8rem;
  margin: 1rem 1rem 0.5rem 1rem;
}

.far, .fab, .fas {
  margin: 1rem 0 0 0.5rem;
  font-size: 1rem;
}

.ai {
  font-size: 1.2rem;
  margin: 0.5rem 0.3rem 0 0.3rem;
}

#pub-list {
  margin-top: 2rem;
}

ul {
  list-style: none;
  padding-left: 0;
}

.pub-title {
  font-weight: 500;
}

.journal-name {
  font-weight: 400;
}

.pub-status {
  font-size: 0.6rem;
}

.public-media {
  border-top: 1px dashed #999999;
  display: inline-block;
  margin: 0.5rem 0 0 0;
  padding: 0.3rem 0 0 0;
  font-size: 0.6rem;
}

.email {
  font-family: 'Source Code Pro', monospace;
  letter-spacing: 1px;
}

li {
  margin: 3rem 0 0rem 0;
}

li>div {
  margin-bottom: 0.2rem;
}

li>.year {
  display: none;
}

.search:focus, .sort:focus {
  outline: none;
}

.search-result {
  margin: 0 0 0 1rem;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
}

input {
  border-radius: 25px;
  padding: 5px 15px 7px 15px;
  background-color: transparent;
  border: solid 1px rgba(0, 0, 0, 0.2);
  width: 150px;
  box-sizing: border-box;
  color: #2e2e2e;
  margin-bottom: 5px;
  text-transform: none;
  text-shadow: none;
}

button {
  appearance: auto;
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: -internal-light-dark(black, white);
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  cursor: pointer;
  background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
  box-sizing: border-box;
  margin: 0em;
  padding: 1px 6px;
  border-width: 2px;
  border-style: outset;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  border-image: initial;
}

.sort {
  padding: 5px 15px 7px 15px;
  border-radius: 10px;
  border: none;
  display: inline-block;
  color: #2e2e2e;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.05);
  margin: 2px 0;
}

.sort:hover {
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.1);
}

.sort.asc:after {
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #2e2e2e;
  content: "";
  position: relative;
  top: 11px;
  right: -4px;
}

.sort.desc:after {
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid #2e2e2e;
  content: "";
  position: relative;
  top: -9px;
  right: -4px;
}

#hits, #total-count {
  color: rgba(0, 0, 0, 0.5);
  letter-spacing: 0px;
}

@media screen and (min-width: 900px) and (min-height: 480px) {
  .sub-container-parent {
    display: grid;
    grid-template-columns: 1fr 10rem;
  }

  .sub-container-child-left {
    grid-column: 1 / 2;
  }

  .sub-container-child-right {
    grid-column: 2 / 3;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    height: 100vh;
  }

  .sub-container-child-left-nav-grid-outer {
    display: grid;
    grid-template-columns: 1fr auto auto auto;
  }

  .sub-container-child-left-nav-grid-name {
    grid-column: 1 / 2;
    margin: 0;
  }

  .sub-container-child-left-nav-grid-research {
    grid-column: 2 / 3;
    border-bottom: 2px solid #ccebc5;
  }

  .sub-container-child-left-nav-grid-pubs {
    grid-column: 3 / 4;
    border-bottom: 2px solid #b3cde3;
    margin: 0 1rem 0 1rem;
  }

  .sub-container-child-left-nav-grid-contact {
    grid-column: 4 / 5;
    border-bottom: 2px solid #fbb4ae;
  }

  .sub-container-child-left-research-grid-outer {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
  }

  .sub-container-child-left-research-grid-eq {
    grid-column: 1 / 2;
    margin: 0 1rem 0 0;
  }

  .sub-container-child-left-research-grid-noneq {
    grid-column: 2 / 3;
    margin: 0 0 0 1rem;
  }

  img.research-fig {
    max-height: 18rem;
    width: auto;
  }

  .sub-container-icon-only-mobile {
    display: none;
  }

  .icon-hidden {
    display: inline;
  }
}
