:root {
  --black: #000;
  --white: #fff;
  --gray-link-hover: #777;
  --navbar-brand-font-size: 1rem;
  --base-font-size: 0.75rem;
  --small-font-size: 0.6rem;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 400;
  color: var(--black);
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-size: var(--base-font-size);
  line-height: 1.2rem;
}

a:link, a:visited {
  text-decoration: none;
  color: var(--black);
  padding-bottom: 1px;
}

a:hover, a:active {
  color: var(--gray-link-hover);
}

p {
  text-align: justify;
}

ul.pub-list {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: var(--small-font-size);
}

ul.pub-list>li {
  margin: 2rem 0 0 0;
}

ul.pub-list>li.citation {
  margin: 0;
}

ul.pub-list>li>.pub-title {
  font-size: var(--base-font-size);
}

.container {
  position: relative;
  max-width: 1080px;
  margin: 0 auto;
  padding: 2rem;
}

.sub-container {
  padding-bottom: 7rem;
}

.section-title {
  padding: 0 0 0.5rem 0;
  letter-spacing: 3px;
  line-height: 2rem;
  display: inline-block;
}

.grid-outer {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr;
}

.research-earthquake {
  padding-right: 1rem;
}

.research-non-earthquake {
  padding-left: 1rem;
}

.research-title {
  letter-spacing: 3px;
  line-height: 2rem;
  display: inline-block;
}

.research-item {
  padding-top: 0.5rem;
}

.year {
  display: none;
}

.contact-en,
.contact-jp {
  margin-bottom: 1rem;
}

.Navbar {
  letter-spacing: 3px;
  display: flex;
  padding: 2rem 0 7rem 0;
  line-height: 2rem;
}

.Navbar__Link {
  padding-left: 2rem;
}

.Navbar__Link a:link,
.Navbar__Link a:visited {
  text-decoration: none;
  color: var(--black);
}

.Navbar__Link a:hover,
.Navbar__Link a:active {
  color: var(--gray-link-hover);
}

.Navbar__Items {
  display: flex;
}

.Navbar__Items--right {
  margin-left: auto;
}

.Navbar__Link-toggle {
  display: none;
  position: absolute;
  top: 65px;
}

.Navbar__Link-brand {
  font-size: var(--navbar-brand-font-size);
  padding-left: 0;
}

/* mobile screen (small screen), where the menu toggle appears */
@media only screen and (max-width: 762px) {
  .grid-outer {
    display: block;
  }

  .research-earthquake {
    padding: 0;
  }

  .research-non-earthquake {
    padding: 2rem 0 0 0;
  }

  .Navbar__Items,
  .Navbar {
    flex-direction: column;
  }

  .Navbar__Items {
    display: none;
  }

  .Navbar__Items--right {
    margin-left: 0;
  }

  .Navbar__ToggleShow {
    display: flex;
  }

  .Navbar__Link {
    padding-left: 0;
  }

  .Navbar__Link-toggle {
    align-self: flex-end;
    display: initial;
    position: absolute;
    cursor: pointer;
  }

  .Navbar__Link-toggle:hover {
    color: var(--gray-link-hover);
  }
}
