:root {
  --black: #000000;
  --cover-color: #FAC668;
  --gray-link: #777777;
  --gray-link-border: #eeeeee;
  --next-talk: rgba(254, 248, 237, 0.5);
  --previous-talks-hover: rgba(254, 248, 237, 0.3);
}

body {
  margin: 0 0 0 0;
  font-family: 'M PLUS Rounded 1c', 'Noto Sans JP', sans-serif;
  font-weight: 400;
  -webkit-text-size-adjust: 100%;
  color: var(--black);
  text-align: center;
  letter-spacing: 1px;
  font-size: 12px;
}

a:link, a:visited {
  text-decoration: none;
  color: var(--black);
  border-bottom: 1px solid var(--gray-link-border);
  padding-bottom: 1px;
}

a:hover, a:active {
  color: var(--gray-link);
  border-bottom: 1px solid var(--gray-link-border);
}

h1, h2 {
  font-weight: 400;
  letter-spacing: 5px;
}

.title {
  padding: 0 0 0.5rem 0;
}

.container {
  padding: 0 0 5rem 0;
}

.cover {
  width: 100%;
  min-height: calc(38vh - 0rem);
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: var(--cover-color);
}

.cover-contents {
  width: auto;
  margin: 0 auto 0 auto;
}

.sub-container {
  padding: 3rem 2rem 3rem 2rem;
}

.sub-container-table {
  padding: 1rem 1rem 1rem 1rem;
}

.presenter {
  font-weight: 700;
}

#next-talk {
  background: var(--next-talk);
  border-radius: 1rem;
  border: 1px solid var(--cover-color);
  margin-top: 2rem;
  margin-bottom: 2rem;
}

#more {
  display: none;
}

button {
  border: none;
  background-color: transparent;
  font-family: inherit;
  padding: 1rem;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: var(--cover-color);
}

.previous-talks {
  border-top: thin solid var(--cover-color);
  width: 110px;
  margin: 5rem auto 0 auto;
  padding-top: 0.5rem;
}

@media (min-width: 992px) {

  body {
    font-size: 16px;
  }

  .sub-container {
    max-width: 993px;
    margin: 0 auto 0 auto;
  }

  .sub-container-table, .sub-container-table-no-border {
    display: grid;
    grid-template-columns: 0.415fr 0.585fr;
  }

  .sub-left {
    padding: 0 1rem 0 1rem;
    grid-column: 1 / 2;
    text-align: right;
  }

  .sub-right {
    padding: 0 1rem 0 1rem;
    grid-column: 2 / 3;
    text-align: left;
  }
}
